body {
  display: flex;
  min-height: 100dvh;
  min-width: 100dvw;
}

:root {
  --light: hsl(0, 0%, 90%);
  --middle: hsl(0, 0%, 80%);
  --dark: hsl(213, 41%, 21%);
  --orange: hsl(30, 100%, 54%);
  --red: hsl(0, 76%, 59%);
}

/* body container */
.logo-container {
  flex: 1;
  background: url(background.jpg) no-repeat center;
  background-size: cover;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-container {
  flex: 2;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  background-color: var(--middle);
  align-items: flex-start;
}

/* logo container */
.logo-background {
  position: relative;
  top: calc(100vh * (2 / 7));
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.logo-background > img {
  padding: calc((0.2 * 100dvh) / 7);
  height: calc(0.2 * 100dvh);
}
.logo-container > p {
  color: var(--light);
  text-align: center;
  margin-top: auto;
  font-size: 0.8rem;
}
.logo-container > p > a {
  color: inherit;
}

/* content container */
.content-item {
  padding-inline: min(5%, 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(1rem + 0.1vw);
}
.content-container > div {
  min-height: calc(100vh * (2 / 7));
}
.content-container > form {
  min-height: calc(100vh * (3 / 7));
}

div.content-item > p {
  width: min(100%, 72ch);
  white-space: wrap;
}
button {
  background: var(--orange);
  color: inherit;
  padding-inline: 16px;
  padding-block: 12px;
  width: min(200px, 50%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: auto;
  margin-top: 32px;
  transform: scale(100%);
  transition: 0.3s linear;
}
button:hover {
  transform: scale(105%);
}
.button-container {
  display: block;
}
.button-container > p {
  font-size: 0.9rem;
  a {
    color: var(--orange);
    text-decoration: none;
    font-weight: bold;
  }
}


/* form */
#form {
  background-color: var(--light);
  box-shadow: 1px 1px 3px var(--dark);
  padding: 32px;
  display: block;
}
.form-row{
  display: flex;
  flex-direction: column;
  width: 34%;
  padding: 16px 16px 16px 0px;
  float: left;
}
#form > legend{
  margin-bottom: 32px;
}
.form-row > label{
  font-size: calc(.8rem + 0.1vw);
  padding-bottom: 4px;
}
.form-row > input{
  
}



@media only screen and (max-width: 767px) {
    body{
        flex-direction: column;
    }
    .logo-container {
        flex-direction: column-reverse;
        width: 100vw;
    }
    .content-container{
        width: 100vw;
    }
    .logo-background{
        position: static;
        backdrop-filter: none;
        background-color: transparent;
    }
    .logo-background > img {
        backdrop-filter: blur(10px);
        margin-bottom: 16px;
        border-radius: 32px;
    }
    .form-row{
      width: 70%;
    }
}